@import 'colors';

.chat {
  .callout {
    height: 450px;
    max-height: 450px;
    overflow-y: auto;
  }

  .chat-messages {
    .chat {
      .name {
        color: $secondary;
      }
    }

    .action {
      color: $secondary;
    }

    .room {
      color: $highlight;
    }

    .server {
      color: $attention;
    }

    .error {
      color: $error;
    }
  }
}
