<div class="connect-dialog">
  <div id="connect-dialog" class="reveal" data-reveal>
    <h2>Log In</h2>
    <form ng-submit="vm.connect()">
      <div class="callout alert" data-closable ng-hide="!vm.flash">
        {{vm.flash}}
      </div>
      <input type="text" placeholder="Username" required ng-model="vm.username">
      <input type="password" placeholder="Password" required ng-model="vm.password">
      <input type="submit" class="primary button" value="Log In">
    </form>
  </div>
</div>
